// Variables
// *------------------------------------------------*
$color-white: #ffffff;
$color-black: #000000;
$color-cream: #FAFFFD;
$color-mud: #f4d35e;
$color-royal: #7C66FF; // confereShop's brand color
$color-green: #00C1CC;
$color-turqoise: #CCE1EA;
$color-light-violet: #C0B5FF; 
$gradient-pink: linear-gradient(146deg,rgba(255,74,158,0) 0%,rgba(255,74,158,.4) 0%);
$gradient-blue: linear-gradient(200deg,rgba(255,74,158,0) 0%,rgba(40, 13, 194, 0.068) 0%);

// $gradient-pink: linear-gradient(146deg,rgba(255,74,158,0) 55%,rgba(255,74,158,.4) 100%);
// $gradient-blue: linear-gradient(200deg,rgba(255,74,158,0) 45%,rgba(40, 13, 194, 0.068) 100%);

$radius-2: 2px;
$radius-4: 4px;
$radius-8: 8px;
$radius-20: 20px;
